@font-face {
    font-family: "Aladin";
    src: url("../resoursers/fonts/Aladin-Regular.ttf");
  }
  
  @font-face {
    font-family: "Poppins-EtraBold";
    src: url("../resoursers/fonts/Poppins-ExtraBold.ttf");
  }
  
  @font-face {
    font-family: "Inter";
    src: url("../resoursers/fonts/Inter-Regular.ttf");
  }
  
  @font-face {
    font-family: "Inter-ExtraBold";
    src: url("../resoursers/fonts/Inter-ExtraBold.ttf");
  }
  
  @font-face {
    font-family: "Poppins-Bold";
    src: url("../resoursers/fonts/Poppins-Bold.ttf");
  }
  
  @font-face {
    font-family: "Inspiration";
    src: url("../resoursers/fonts/Inspiration-Regular.ttf");
  }

  @font-face {
    font-family: "Inter-Bold";
    src: url("../resoursers/fonts/Inter-Bold.ttf");
  }



body {
    margin: 0;
    padding: 0;
    background-image: url("../resoursers/img/body.png");
    background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -5%;
  background-color: #659264;
  z-index: 50;
    /* overflow: auto; */
}

/* section 01 start */

.con--sec01--div01 {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
    background-color: #8fab8e;
    border-radius: 15px;
    margin-top: 7%;
}

.con--sec01--span01{
    font-family: "Poppins-EtraBold";
    font-size: 2.2rem;
}

.con--sec01--div02 {
    margin-top: 7%;
}

.con--sec01--div03 {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 7%;
    margin-bottom: 7%;
}

.con--sec01--div20{
    display: flex;
    width: 100%;
}

.con--sec01--div21{
    display: flex;
    width: 100%;
}

.con--sec01--aboutimg{
    display: flex;
    width: 100%;
    border-radius: 40px 0px 40px 0px;
    margin-bottom: 10%;
}

.con--sec01--span02 {
    text-align: justify;
    font-family: "Inter";
    font-size: 1rem;
}

/* section 01 end */

/* section 02 start */

.con--sec02--div01 {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
    background-color: #8fab8e;
    border-radius: 15px;
    margin-top: 5%;
    margin-bottom: 7%;
}

.con--sec02--span01{
    font-family: "Poppins-EtraBold";
    font-size: 2.2rem;
}

.con--sec02--div16 {
    margin-top: 7%;
}

.con--sec02--div02 {
    display: flex;
    width: 80%;
    margin-top: 7%;
    margin-bottom: 7%;
}

.con--sec02--span02 {
    text-align: justify;
    font-family: "Inter";
    font-size: 1rem;
}

.con--sec02--div03 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.con--sec02--div04 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 7%;
}

.con--sec02--div17 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 7%;
}

.con--sec02--div05 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10%;
}

.con--sec02--icons {
    width: 35%;
}

.con--sec02--icon--text{
font-family: "Inter-Bold";
}

.con--sec02--icon {
    width: 45%;
}

.con--sec02--div06 {
    margin-top: 5%;
    margin-bottom: 5%;
}

.con--sec02--div07 {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.con--sec02--div08 {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-bottom: 5%;

}

.con--sec02--div10 {
    display: flex;
    flex-direction: column;
    width: 80%;

}

.con--sec02--inputs {
    width: 100%;
    height: 5vh;
    border-radius: 10px;
    border: none;

}

.con--sec02--div13 {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-bottom: 5%;
}

.con--sec02--div09 {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-bottom: 5%;
}

.con--sec02--div11 {
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
}

.con--sec02--div12 {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.con--sec02--texteria {
    width: 100%;
    height: 20vh;
    border-radius: 10px;
    border: none;
}

.con--sec02--span03{
    font-family: "Poppins-EtraBold";
    font-size: 2.2rem;
}

.con--sec02--div15 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    width: 80%;
    margin-bottom: 7%;

}

.con--sec02--button01 {
    color: white;
    width: 80%;
    align-items: center;
    justify-content: center;
    background-color: #078F35;
    border: none;
    height: 5vh;
    border-radius: 10px;
    font-family: "Poppins-Bold";
    font-size: 140%;
    
}

.con--sec02--button01:hover{
    background-color: #10590F;
    cursor: pointer;
}

.con--sec02--subtopic {
    margin-bottom: 2%;
    font-family: "Poppins-Bold";
    
}


@media only screen and (min-width:540px) and (max-width:950px) {


    .con--sec01--div20{
        display: flex;
        width: 100%;
    }
    
    .con--sec01--div21{
        display: flex;
        width: 100%;
    }
    
    .con--sec01--aboutimg{
        display: flex;
        width: 100%;
        border-radius: 40px 0px 40px 0px;
        margin-bottom: 5%;
    }

    

    .con--sec01--div03 {
        margin-top: 3%;
    }

    .con--sec02--div02 {
        margin-top: 3%;
    }

    .con--sec02--div03 {
        flex-direction: row;
        align-items: center;
        justify-content: center;

    }

    .con--sec02--div04 {
        flex-direction: row;
        column-gap: 10%;
        margin-right: 15%;
    }

    .con--sec02--div05 {
        flex-direction: row;
        column-gap: 10%;
        margin-top: 2%;


    }

    .con--sec02--div17 {
        flex-direction: row;
        column-gap: 10%;
        margin-right: 10%;
    }

    .con--sec02--div08 {
        margin-bottom: 2%;
    }

    .con--sec02--div09 {
        margin-bottom: 2%;
    }

    .con--sec02--div11 {
        margin-bottom: 2%;
    }

    .con--sec02--button01 {
        color: white;
        width: 50%;
        align-items: center;
        justify-content: center;
        background-color: #078F35;
        border: none;
        height: 5vh;
        border-radius: 10px;
        font-family: "Poppins-Bold";
        
    }

    .con--sec01--div01 {
        margin-top: 10%;
    }

}

@media only screen and (min-width:950px) {

    .con--sec01--div20{
        display: flex;
        width: 100%;
    }
    
    .con--sec01--div21{
        display: flex;
        width: 100%;
        margin-left: -10%;
    }
    
    .con--sec01--aboutimg{
        display: flex;
        width: 75%;
        border-radius: 40px 0px 40px 0px;
        margin-bottom: 0%;
        
    }

    .con--sec01--div03 {
        display: flex;
        flex-direction: row;
        margin-top: 3%;
    }

    .con--sec01--div02 {
        margin-top: 3%;
    }

    .con--sec02--div02 {
        margin-top: 3%;
        margin-bottom: 3%;
    }

    .con--sec02--div16 {
        margin-top: 3%;

    }

    .con--sec02--div03 {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-bottom: -8%;

    }

    .con--sec02--div04 {
        flex-direction: row;
        column-gap: 10%;
        margin-right: 15%;
    }

    .con--sec02--div05 {
        flex-direction: row;
        column-gap: 10%;
        margin-top: 2%;

    }

    .con--sec02--div17 {
        flex-direction: row;
        column-gap: 10%;
        margin-right: 10%;
    }

    .con--sec02--div08 {
        margin-bottom: 2%;
        margin-right: 10%;
    }

    .con--sec02--div09 {
        margin-bottom: 2%;
    }

    .div001 {
        width: 45%;
       
    }

    .div002 {
        width: 45%;
        margin-right: 10%;
    }

    .con--sec02--div07 {
        display: flex;
        flex-direction: row;
        width: 80%;
    }

    .con--sec02--div10 {
        display: flex;
        flex-direction: row;
        width: 80%;
        margin-bottom: -2%;
    }

    .con--sec02--subtopic{
        margin-bottom: 1%;
    }

    .con--sec02--button01 {
        color: white;
        width: 30%;
        align-items: center;
        justify-content: center;
        background-color: #078F35;
        border: none;
        height: 5vh;
        border-radius: 10px;
        font-family: "Poppins-Bold";
    }

    .con--sec01--div01 {
        margin-top: 1%;
    }

    .con--sec02--div01 {
        margin-top: 1%;
    }
}