@font-face {
  font-family: "Aladin";
  src: url("../resoursers/fonts/Aladin-Regular.ttf");
}

@font-face {
  font-family: "Poppins-EtraBold";
  src: url("../resoursers/fonts/Poppins-ExtraBold.ttf");
}

@font-face {
  font-family: "Inter";
  src: url("../resoursers/fonts/Inter-Regular.ttf");
}

@font-face {
  font-family: "Inter-Bold";
  src: url("../resoursers/fonts/Inter-Bold.ttf");
}

@font-face {
  font-family: "Inter-ExtraBold";
  src: url("../resoursers/fonts/Inter-ExtraBold.ttf");
}

@font-face {
  font-family: "Poppins-Bold";
  src: url("../resoursers/fonts/Poppins-Bold.ttf");
}

@font-face {
  font-family: "Inspiration";
  src: url("../resoursers/fonts/Inspiration-Regular.ttf");
}



body {
  padding: 0;
  margin: 0;
  background-image: linear-gradient(#659264, #10590F);
}

.to--sec1 {
  padding: 3%;
}

.to--sec1--div1 {
  display: flex;
  flex-direction: column;
  width: 95%;
  border-radius: 15px;
  background-color: #92ad91;
  align-items: center;
  justify-content: center;
  padding: 10% 2% 10% 2%;
  margin-top: 0%;
}

.tp--sec1--div2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
  margin-bottom: 3%;

}

.tp--sec1--span1{
  font-family: "Aladin";
  font-size: 2.5rem;
  color: #ffffffd8;
}

.tp-sec1-hr1 {
  width: 90%;
  height: 1.5vh;
  background-color: black;
  border-radius: 5px;
}

.tp--sec1--div3 {
  display: flex;
  width: 80%;
  flex-direction: column;

}

.tp--sec1--div5 {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  width: 100%;

}

.tp--sec1--span2{
font-family: "Inter-Bold";
font-size: 1.3rem;
}


/* * {box-sizing:border-box} */

/* Slideshow container */
.slideshow-container {
  width: 100%;
  /* height: 39vh; */
  position: relative;
  /* margin: auto; */
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.mySlides1 {
  display: none;
}

.mySlides2 {
  display: none;
}

.mySlides3 {
  display: none;
}

.mySlides4{
  display: none;
}

.mySlides5 {
  display: none;
}

.mySlides6 {
  display: none;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}


.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

.tp--sec1--div6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-top: -10%; */
}

.tp--sec1--span3 {
  text-align: left;
font-family: "Inter";
}

.tp--sec1--btn1 {
  margin-top: 5%;
  width: 50%;
  height: 5vh;
  border-radius: 10px;
  border: none;
  margin-bottom: 5%;
  background-color: #078F35;
  color: white;
  font-family: "Inter-Bold";
  text-decoration: none;
}

.tp--sec1--btn1:hover{
  background-color: #10590F;
  cursor: pointer;
}


@media screen and (min-width: 540px) and (max-width: 950px) {
  .slideshow-container {
    width: 50%;
    /* height: 33vh; */
    position: relative;

  }

  .tp--sec1--div6 {
    width: 50%;
  }

  .tp--sec1--div5 {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 2%;
    padding-bottom: 2vh;
  }

  .to--sec1--div1 {
    padding: 5% 2% 5% 2%;
    margin-top: 0%;
    margin-top: -2%;
  }

  .heading--pack01{
    margin-top: 10%;
  }
}

@media screen and (min-width: 950px) {
  .slideshow-container {
    width: 40%;
  }

  .tp--sec1--div5 {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 2%;
    padding-bottom: 1.2vh;

  }

  .tp--sec1--div6 {
    width: 60%;
  }

  .to--sec1--div1 {
    padding: 5% 2% 5% 2%;
    margin-top: 0%;
    margin-top: -5%;
  }

}